#header{
    background-color: rgb(224, 216, 216);
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.header_left, .header_right{
    margin: 10px 10px;
    padding: 5px 5px;
}